---
import defaultImage from "@/assets/images/abdominoplastia.jpg";

const {
  id = "default",
  title = "",
  subtitle = "",
  bg = defaultImage.src,
  fullScreen = true
} = Astro.props;
---

<div
  id={id}
  class={`bg-fixed bg-center bg-cover bg-no-repeat flex justify-center items-center ${fullScreen ? 'h-screen' : ''}`}
  style={`background-image: url(${bg});`}
>
  <section class="px-6 py-20 bg-transparent text-center">
    <h2 class="text-3xl font-bold mb-4">{title}</h2>
    <p class="text-neutral-700">
      {subtitle}
    </p>
  </section>
</div>
