---
import { getRelativeLocaleUrl } from "astro:i18n";
import logoText from "@/assets/images/Imagotipo_beige.png"

interface Props {
  class?: string;
  size?: "sm" | "md" | "lg" | "xl" | "xl2" | string;
  text?: boolean;
  textSize?: "sm" | "md" | "lg" | "xl" | "xl2" | string;
}

const currentLang = Astro.currentLocale || "es";
const {
  class: className = "",
  size = "md",
  text = false,
  textSize = "md",
} = Astro.props;

const sizeClasses = {
  sm: "h-8 w-auto",
  md: "h-10 w-auto",
  lg: "h-16 w-auto",
  xl: "h-32 w-auto",
  xl2: "h-64 w-auto",
};


const computedSize =
  sizeClasses[size as keyof typeof sizeClasses] || size || "h-10 w-auto";

---

<div class="shrink-0 flex flex-col w-full">
  <a
    href={getRelativeLocaleUrl(currentLang, "/")}
    class={`inline-flex items-center transition-opacity hover:opacity-80 ${className}`}
    aria-label="Ir al inicio"
  >
    <img
      src={logoText.src}
      alt="Logo"
      class={computedSize + " object-contain w-full"}
      loading="eager"
    />
  </a>
</div>
